<!DOCTYPE html>
<html>
  <head>
    <link lang="de">
    <title>Bosсh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js"></script>
    <script>
      window.onload = function(){
        // Init
        var slider = new Slider('container');
      }
    </script>

</head>
<body>
  <div class="flex">
    <h1>Modal flow image slider</h1>
    <div id="container">
      <div class="inner-container">
        <div class="scene">

        </div>
        <div class="controls">
          <button class="prev">&#xf100;</button>
          <button class="play">&#xf104;</button>
          <button class="pause">&#xf103;</button>
          <button class="stop">&#xf102;</button>
          <button class="next">&#xf101;</button>
          <button class="close">&#xf105;</button>
        </div>
        <div class="panel">
          <div class="mouseslider">
            <img src="img/slider1/christmas.jpg" alt="christmas" title="title">
            <img src="img/slider1/flowers.jpg" alt="christmas" title="title">
            <img src="img/slider1/forest.jpg" alt="christmas" title="title">
            <img src="img/slider1/lake.jpg" alt="christmas" title="title">
            <img src="img/slider1/money.jpg" alt="christmas" title="title">
            <img src="img/slider1/north-light.jpg" alt="christmas" title="title">
            <img src="img/slider1/sunset.jpg" alt="christmas" title="title">
          </div>
          <span class="timer"></span>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
